\documentclass[12pt]{article}

\usepackage{amsmath}
\usepackage{graphicx}
\usepackage{verbatim}
\usepackage{color}
\usepackage{hyperref}
\usepackage{subfig}

\setlength{\baselineskip}{16.0pt}
\setlength{\parskip}{3pt plus 2pt}
\setlength{\parindent}{20pt}
\setlength{\oddsidemargin}{0.3cm}
\setlength{\evensidemargin}{0.3cm}
\setlength{\marginparsep}{0.75cm}
\setlength{\marginparwidth}{2.5cm}
\setlength{\marginparpush}{1.0cm}
\setlength{\textwidth}{150mm}

\newcommand{\pb}{\vfill \pagebreak}
\newcommand{\bpage}{\vfill \pagebreak \strut

\vspace{2.5in} \centerline{This page is intentionally left blank.}}
\newcommand{\bpagea}{\strut

\vspace{2.5in} \centerline{This page is intentionally left blank.}}

%%%%% The above material is the preamble

\begin{document}

\pagestyle{empty}

\begin{center} 
U. S. Department of Commerce \\
National Oceanic and Atmospheric Administration \\
National Weather Service \\
National Centers for Environmental Prediction \\
5830 University Research Court \\
College Park, MD 20740

\vspace{15mm}

{\bf Technical Note}

\vspace{15mm}

{\large COASTAL Act Named Storm Event Model Validation Report for Hurricane \MakeUppercase{$storm}} \\

\vspace{15mm}

The Named Storm Event Model (NSEM) Development Group \\
\strut \\
NWS/NCEP/Environmental Modeling Center \\
NOS/OCS/Coast Survey Development Lab \\
NWS/OWP/National Water Center

\vfill

$date \\
(DRAFT) \\
\vspace{\baselineskip}
\end{center}
 
\vfill

\noindent \rule{140mm}{0.5mm} \\
{\small $^\dag$ MDAB Contribution No.~XXX.}

\bpage

\pb

\markboth{COASTAL Act}
         {{\rm DRAFT} \hspace{20.5mm} COASTAL Act NSEM Validation Report \MakeUppercase{$storm}}
\pagestyle{myheadings}
\pagenumbering{roman}
\setcounter{page}{1}

%\cftsetpnumwidth{3em}
%\cftsetrmarg{4em}  %% make sure that this is larger than above

\tableofcontents

\pb
\pagestyle{empty}
\bpagea

\pb
\pagestyle{myheadings}
\pagenumbering{arabic}

\section{Introduction}
The Consumer Option for an Alternative System To Allocate Losses (COASTAL) 
Act, which was included in the Biggert-Waters Flood Insurance Reform and 
Modernization Act of 2012, was enacted to help the Federal Emergency 
Management Agency (FEMA) determine the extent to which wind vs. water was 
the cause of damage in cases where little tangible evidence exists beyond 
a building's foundation following a tropical cyclone (also known as
`indeterminate losses' or `slabs'). This determination is needed for the 
proper and timely adjustment of insurance claims, as water damage is covered 
by FEMA's National Flood Insurance Program, while wind damage is covered by 
private insurers. The COASTAL Act requires the National Oceanic and Atmospheric 
Administration (NOAA) to produce detailed post-storm assessments following 
certain tropical cyclones impacting the U.S. and its territories. The assessments 
will be produced using a Named Storm Event Model (NSEM), which will indicate 
the strength and timing of damaging winds and water at a given location within 
the impacted area. NOAA is required to make post-storm assessment results and 
observations from the storm available to the public via the Coastal Wind and 
Water Event Database (CWWED).

This report summarizes the 90\% validation assessment of the Named Storm 
Event Model (NSEM) for the storm event \MakeUppercase{$storm}.

\section{Methodology}

The paired t-test evaluates whether the mean difference between the model and observations are zero.

\section{Summary results}

Figures~\ref{fig:hwrf_summary} and~\ref{fig:ww3_summary} show the summary results of HWRF and WW3 respectively. 
In each case, the bar charts of p-value results by station and the geographical distribution of the 90\% accuracy test results are shown.  

\begin{figure}[h!tp]
\begin{center}
\subfloat[Bar chart of p-values by station. Red line: p-val = 0.05]{%
  \includegraphics[width=0.65\columnwidth]{$fig_hwrf_summary}%
}

\subfloat[Spatial plot of test results. Blue: Pass; Red: Fail]{%
  \includegraphics[width=0.65\columnwidth]{$fig_hwrf_map}%
}

\caption{\label{fig:hwrf_summary}Summary of 90\% accuracy test results for HWRF. }
\end{center}
\end{figure}

\begin{figure}[h!tp]
\begin{center}
\subfloat[Bar chart of p-values by station. Red line: p-val = 0.05]{%
  \includegraphics[width=0.65\columnwidth]{$fig_ww3_summary}%
}

\subfloat[Spatial plot of test results. Blue: Pass; Red: Fail]{%
  \includegraphics[width=0.65\columnwidth]{$fig_ww3_map}%
}

\caption{\label{fig:ww3_summary}Summary of 90\% accuracy test results for WW3. }
\end{center}
\end{figure}

\clearpage

\section{Detailed results}

This section provides details of the stations that best meet the 90\% accuracy criterion, versus those 
that had the poorest performance. Figures~\ref{fig:hwrf_best} and~\ref{fig:hwrf_worst} show the best and 
worst results for HWRF, and Figures~\ref{fig:ww3_best} and~\ref{fig:ww3_worst} show the corresponding results for WW3. 
Provided details are the (a) time series comparison between model and observation (b) error historgram, and (c) scatterplot.

\begin{figure}[htp]
\begin{center}
\subfloat[Time series]{%
  \includegraphics[width=0.55\columnwidth]{$fig_u10_ts_best}%
}
\subfloat[Histograms]{%
  \includegraphics[width=0.55\columnwidth]{$fig_u10_hist_best}%
}

\subfloat[Scatterplots]{%
  \includegraphics[width=0.55\columnwidth]{$fig_u10_scatter_best}%
}

\caption{\label{fig:hwrf_best}Details of best-performing station in terms of U10 wind speed.}
\end{center}
\end{figure}

\begin{figure}[htp]
\begin{center}
\subfloat[Time series]{%
  \includegraphics[clip,width=0.55\columnwidth]{$fig_u10_ts_worst}%
}
\subfloat[Histograms]{%
  \includegraphics[clip,width=0.55\columnwidth]{$fig_u10_hist_worst}%
}

\subfloat[Scatterplots]{%
  \includegraphics[clip,width=0.55\columnwidth]{$fig_u10_scatter_worst}%
}

\caption{\label{fig:hwrf_worst}Details of worst-performing station in terms of U10 wind speed.}
\end{center}
\end{figure}

\begin{figure}[htp]
\begin{center}
\subfloat[Time series]{%
  \includegraphics[width=0.55\columnwidth]{$fig_hs_ts_best}%
}
\subfloat[Histograms]{%
  \includegraphics[width=0.55\columnwidth]{$fig_hs_hist_best}%
}

\subfloat[Scatterplots]{%
  \includegraphics[width=0.55\columnwidth]{$fig_hs_scatter_best}%
}

\caption{\label{fig:ww3_best}Details of best-performing station in terms of significant wave height Hs.}
\end{center}
\end{figure}

\begin{figure}[htp]
\begin{center}
\subfloat[Time series]{%
  \includegraphics[clip,width=0.55\columnwidth]{$fig_hs_ts_worst}%
}
\subfloat[Histograms]{%
  \includegraphics[clip,width=0.55\columnwidth]{$fig_hs_hist_worst}%
}

\subfloat[Scatterplots]{%
  \includegraphics[clip,width=0.55\columnwidth]{$fig_hs_scatter_worst}%
}

\caption{\label{fig:ww3_worst}Details of worst-performing station in terms of significant wave height Hs.}
\end{center}
\end{figure}

\end{document}
